/* GLOBAL */
body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
input{   
    padding: 10px;   
    border-radius: 12px;
    width: 80%;
    display: block;
}
small{
    padding-bottom: 10px;
    margin-left: 10px;
    color: white
}
h1{
    text-align: center;
    color: white;
    width: 419px;
    padding-top: 50px; 
    font-size: 32px;   
}
h2{
    color: white;
    text-align: center;
    margin-top: 15px;

}
h3{
    text-align: center;
    font-size: 22px;
}
ul{
    text-align: justify;
    font-size: 14px;
}

.top{
    background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url('../../images/fundo.png') no-repeat bottom fixed;       
    background-size: cover;
    background-position-y: center;   
}
.content-top {
    overflow: hidden;
    margin: 0 auto;
    width: 990px;
    height: 100%;
}
.content-top > div {
    height: 100%;
    float: left;
    width: 38%;
    margin-left: 50px;
    box-sizing: border-box;
}
.produtividade{
    background-color: #b5cf42;
    font-size: 20px; 
    width: 100%;
}
.aumente{
    text-align: center;
    font-weight: 600;
}
.header-right{
    background: rgba(0, 0, 0, .35);
    width: 400px;
}
.formulario{    
    padding: 20px 9px 20px 40px;    
    border-radius : 5px;    
    margin: 10px;
    position: relative;
}
.div-form{
    margin-bottom: 5px;
    margin-left: 0;
    position: relative;
}
.div-form i{
    position: absolute;
    top: 35px;
    right: 50px;
    visibility: hidden;
}
.div-form i{
    position: absolute;
    top: 35px;
    right: 50px;
    visibility: hidden;
}
.div-form small{    
    bottom:0;
    left:0px;
    visibility: hidden;
}
/* Error and Success */
.div-form.success input{
    border-color:#2ecc71;
}
.div-form.error input{
    border-color:#e74c3c;;
}
.div-form.success i.fa-check-circle{
    color:#2ecc71;
    visibility: visible;
}
.div-form.error i.fa-exclamation-circle{
    color:#e74c3c;
    visibility: visible;
}
.div-form.error small{
    color:#f1b1a9;
    visibility: visible;
}
/* -------------------- */

.formulario label{
    margin-bottom: 5px;    
    font-size: 14px;
    color: white;    
}
.formulario .form-submit{    
    margin: 30px 0 0 0;
    display: block;    
    width: 85%;
    background: #9aba2b;
    padding: 17px;
    font-size: 20px;
    color: white;
}
.servicos{
    text-align: center;
    padding: 50px;
    /* 
    0 para top e bottom e auto na left e right. 
    Para ter efeito é preciso especificar uma width
    */
    margin: 0 auto; 
    width: 1140px;
    display: flex;
    justify-content: space-around;
}
.servico{
    width: 33.33%;
    height: 200px;
    float: left;
}
.depoimento{
    width: 250px;
}
.depoimento{
    content:"";
    clear:both;
    display: block;
}
.peca-dem {
    margin-top: 250px;
    background: #333;
    height: 200px;
    width: 100%;    
}
.btn-peca-demonstracao {
    margin: 4% 5% 6% 36%;
    width: 500px;
    background: #9aba2b;
    padding: 15px;
    font-size: 20px;
    color: white;
    text-decoration: none; /* remove sublinhado do link */
}
.btn-peca-demonstracao:hover {
    background: #fff;
    color: #9aba2b;
    border: #9aba2b 1px solid;    
}
.box-btn{
    padding: 84px 17% 0 18%;
}
.nossosClientes{
    text-align: center;
    margin-bottom: 30px;
}
.sistemaCall{
    background-color: #505555;
    height: 100px;
}
#sistema{
    position: relative;
    top: 50%;
    transform: translateY(-50%); 
}
.p-servicos{
    text-align: justify;
    padding: 20px;
}
#depoimentos{
    height: 323px;
    background-color: #343a40;
    margin-top: 111px;
}
.depoimentos-content{
    display: flex;
    flex-direction: row;
    padding: 20px;
    width: 95%;    
}
.border{
    border: #b5cf42 dotted;
    margin: 20px 10px;
    border-radius: 10px;
    height: 192px;
}
.depoimentos-content p{
    color: white;
    text-align: right;
}
.align-right{
    text-align-last: right;
    float: left;
}
.align-right img{
    text-align-last: left;
    
}
.align-right p{
    margin: 5px;
    font-size: small;
    margin-left: 15px;
}
.avatar-depoimento{
    border-radius: 200px;
    border: 2px solid #b5cf42;
    margin-top: 47px;
    width: 80%;
}
.nome-cliente{
    font-weight: bolder;
}
.cliente-tag-gabriela{
    margin-left: 350px;
    width: 350px;
}
.cliente-tag-rafael{
    margin-left: 350px;    
    width: 350px;    
}
.content-left{
    margin-top: 23%;
    margin-left: 20px;
}
.melhorar-performance {    
    background: #333;
    height: 80px;
    margin:auto;
    display: block;
}
.melhorar-performance h1{
    margin: auto;
    font-size: 32px;
    width: 700px;
    display: block;
}
footer{
    height:50px;
    text-align-last: center;
    margin-top: 30px;
    display: block;
}
@media (max-width: 560px) {
    .content-top div{
        width: 450px;
    }   
    .servicos{
        width: 100%;
        display:table-row;
    } 
    .servicos div{  
        width: 100%;      
        padding:auto;
        margin-bottom: 227px;
    }
    .servico-conteudo{
        padding: 6px
    }
    .servico-conteudo ul, h3{
        width: 80%;
    }
    .peca-dem{
        margin-top: 20px;
    }
    .btn-peca-demonstracao{
        margin: auto;
    }
    .nossosClientes h3{
        margin-left: 55px;
    }
    .sistemaCall{
        padding: 0 20px;
        height: 126px;
    }
    #depoimentos{
        margin-top: 0;
        height: 400px;
        align-tracks:center;
    }
    .depoimentos-content{
        width: 90%;
        display:flex;
        flex-direction: column;
        margin-bottom: 0px;
        margin-top: -37px;
        
    }
    .border{
        height: 134px;
    }
    .cliente-tag-gabriela{
        margin-left: 0;
        height: 50px;    
        width: 50;
    }
    .align-right img{
        text-align-last: left;
        /* flex-direction:column; */
    }
    .avatar-depoimento{
        width: 50%;
        margin-bottom: 12px;
    }
    .depoimentos-content p{
        margin-top: 15px;
    }
    .p-servicos{
        padding: 10px
    }
    .melhorar-performance h1 {
        margin: auto;
        font-size: 27px;
        width: 100%;
    }   
     
}
